.coin-app-container {
  background-image: linear-gradient(to left, #e2a139, #f9d423);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin-container {
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  padding: 45px 45px 55px 55px;
}

.heading {
  color: #a35200;
  font-size: 35px;
  font-family: 'Roboto';
  font-weight: 600;
  margin-top: 25px;
}

.para {
  color: #334155;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 700;
}
.counting-toss-container {
  display: flex;
  flex-direction: row;
}

.count {
  color: #475569;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 700;
  padding-right: 10px;
  padding-left: 10px;
}

.toss-img {
  width: 350px;
  height: 350px;
}

.toss-button {
  background-color: #e2a139;
  height: 35px;
  width: 135px;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 500;
  border-width: 0px;
  border-radius: 8px;
  margin-top: 25px;
  margin-bottom: 25px;
}
